# Don't store the Firebase private key in Git
privateFirebaseKey.json
# Don't store the mutable data
data
*.egg-info
# Pytype stuff
.pytype
infintdserver/.pytype
# Hypothesis DB
.hypothesis
# Don't store the balancing results
balancing_results.json
# Don't store compiled Cython stuff
*.cpython*
build
infinitd_server/cpp_battle_computer/battle_computer.cpp
# Don't store generated flatbuffer code.
InfiniTDFb
# Ignore localhost SSL keys for development
localhost.crt
localhost.key