# Don't store the Firebase private key in Git
privateFirebaseKey.json
# Don't store the mutable data
data
*.egg-info
# Pytype stuff
.pytype
infintdserver/.pytype
# Hypothesis DB
.hypothesis
# Don't store the balancing results
balancing_results.json
