[submodule "infinitdserver/cpp_battle_computer/rapidjson"]
	path = infinitd_server/cpp_battle_computer/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "flatbuffers"]
	path = flatbuffers
	url = https://github.com/rhofour/flatbuffers.git
	branch = python_nested_fb