[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
readline = "*"
pylint = "*"
pyprof2calltree = "*"

[packages]
tornado = "*"
firebase-admin = "*"
pytest = "*"
dataclasses-json = "*"
asyncio-multisubscriber-queue = "*"
pytype = "*"
aiounittest = "*"
attrs = "*"
cattrs = "*"
hypothesis = "*"
cython = "*"
numpy = "*"
flatbuffers = {editable = true, path = "./flatbuffers/python"}

[requires]
python_version = "3.8"
