[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tornado = "*"
firebase-admin = "*"
pytest = "*"
dataclasses-json = "*"
asyncio-multisubscriber-queue = "*"
pytype = "*"
aiounittest = "*"
attrs = "*"

[requires]
python_version = "3.8"
